*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  overflow: hidden;
}

button {
  position: relative;
  padding: 8px;
  border-radius: 4px;
  border: 1px solid gray;
  cursor: pointer;
  outline: none;
}

button::before {
  position: absolute;
  transform: translate(-1000px, -40px);
  content: "Hi";
  color: green;
  font-weight: bold;
  transition: all 1.5s;
}

button::after {
  position: absolute;
  transform: translate(1000px, 50px);
  content: "Bye";
  color: blue;
  font-weight: bold;
  transition: all 1.5s;
}

.transition:focus::before {
  position: absolute;
  transform: translate(-8px, -40px);
}

.transition:focus::after {
  position: absolute;
  transform: translate(-15px, 40px);
}

.btn-style {
  background-color: brown;
  color: yellow;
  font-weight: bold;
  border: none;
}

.backgroundColor {
  background-color: coral;
}
