body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
}

.content {
  text-align: center;
  font-weight: bold;
}

.vie {
  color: red;
}
.link-img {
  cursor: pointer;
}
